###############
#    folder   #
###############
**/.idea/
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/
_site
/.vs/documentation/v15/.suo
/.vs/slnx.sqlite
/.vs
/support/.vs/support/v15
/support/.vs
