###############
#    folder   #
###############
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/
_site

/api_core/api/
/api_core/api_python/
/api_core/getting_started/introduction.md

/api_plugins/**
!/api_plugins/index.md

/**/__pycache__/
/build/clones/
/**/test.py