.navbar-inverse {
    background-color: #EC5F6B;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-text {
    color: #000000;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #A54550;
}

.navbar-brand > img {
    margin-top: 5px;
}
