.navbar-inverse {
    background-color: #00C3D8;     
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-text {
    color: #000000;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #007B87;
}

.navbar-brand > img {
    margin-top: 5px;
}
